//- 一番下のメニューバー単体のpug
//- 完成したら書き換えないこと。
//- 全部同じなので、全てのページに読み込む。

footer 
    .iconWrap 
        a(href="calender.html") 
            img(src="img/calender_icon.png", alt="カレンダー")
            p カレンダー
    .iconWrap 
        a(href="record.html") 
            img(src="img/face_icon.png", alt="記録")
            p 記録
    .iconWrap 
        a(href="news.html") 
            img(src="img/news_icon.png", alt="お知らせ")
            p お知らせ
    .iconWrap 
        a(href="setting.html") 
            img(src="img/option_icon.png", alt="設定")
            p 設定