doctype html
html(lang="ja")
    head
        - var title= "サレイ"
        - var page= "設定ページ"
        include _head 
        link(rel="stylesheet", href="css/setting.css")
    body
    //- h1要素の変数にページタイトルを入れる。
    - var page_title ="設定"
        include header 
        main 
            .wrapper 
                h2 通知
                .imgWrapper 
                    img(src="img/arrow.png", alt="")
            .wrapper 
                h2 よくあるご質問・ヘルプ
                .imgWrapper 
                    img(src="img/arrow.png", alt="")
            .wrapper 
                h2 お問い合わせ
                .imgWrapper 
                    img(src="img/arrow.png", alt="")
            .wrapper 
                h2 利用規約
                .imgWrapper 
                    img(src="img/arrow.png", alt="")
            .wrapper 
                h2 プライバシーポリシー
                .imgWrapper 
                    img(src="img/arrow.png", alt="")
        include footer 
    script()